<% include ../partials/header.ejs %>
 <title><%=currentUser.username%>: Materias </title>
 <link rel="stylesheet" href="/courses.css">
<% include ../partials/middle.ejs %>

<div class="container container-top ">
  <h4>Crear Materia</h4>
  <hr>
  <div class="form-group">
    <label for="courseName">Nombre de la materia</label>
    <input type="text" class="form-control" id="courseName" placeholder="Cálculo Univariado" aria-describedby="sizing-addon2" required>
  </div>
  <div class="form-group">
    <label for="courseCre">Número de créditos</label>
    <input type="number" class="form-control" id="courseCre" placeholder="10" aria-describedby="sizing-addon2" required>
  </div>
  <div class="form-group">
    <input type="button" class="btn btn-md btn-success" onclick="createForm()" value="Crear" aria-describedby="sizing-addon2">
  </div>

</div>


<div class="collapse container container-course">
    <div id="alert-porcentage" class="disable alert alert-danger  alert-dismissible" role="alert">La suma de porcentajes no debe ser mayor 100!</div>
    <h4>Crear Materia</h4>
    <hr>
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" id="nameMetric" placeholder="Exámen 1">
        <span class="input-group-btn">
          <button class="btn btn-warning" onclick="addMetric()" type="button">Añadir</button>
        </span>
      </div>
    </div>
  <form id="courseForm" onsubmit="return checkPorcentage()" action="/courses" method="POST">
      <div class="course-title">
        <span><input type="text" id="courseTitle" name="course[title]"/></span>
        <span class="course-credit">(<input type="text" id="courseCredit" name="course[credits]"/>créditos)</span>
      </div>
      <table class="table table-striped table-bordered table-responsive">
        <thead>
          <tr>
            <th>Atributo</th>
            <th>%</th>
            <th>Calificación</th>
          </tr>
        </thead>
        <tbody>
          <tr class="metric">
            <td><input type="text" name="metrics[name]" value="Participación y Tareas"/></td>
            <td class="metric-porcentage"><input type="Number" name="metrics[porcentage]" value="20" step="1"/></td>
            <td class="metric-grade"><input type="Number" name="metrics[grade]" value="" step="0.1"/></td>
          </tr>
          <tr class="metric">
            <td><input type="text" name="metrics[name]" value="Exámen 1"/></td>
            <td class="metric-porcentage"><input type="Number" name="metrics[porcentage]" value="10" step="1"/></td>
            <td class="metric-grade"><input type="Number" name="metrics[grade]" value="" step="0.1"/></td>
          </tr>
          <tr class="metric">
            <td><input type="text" name="metrics[name]" value="Medio Termino"/></td>
            <td class="metric-porcentage"><input type="Number" name="metrics[porcentage]" value="20" step="1"/></td>
            <td class="metric-grade"><input type="Number" name="metrics[grade]" value="" step="0.1"/></td>
          </tr>
          <tr class="metric">
            <td><input type="text" name="metrics[name]" value="Exámen 2"/></td>
            <td class="metric-porcentage"><input type="Number" name="metrics[porcentage]" value="10" step="1"/></td>
            <td class="metric-grade"><input type="Number" name="metrics[grade]" value="" step="0.1"/></td>
          </tr>
          <tr class="metric">
            <td><input type="text" name="metrics[name]" value="Exámen Final"/></td>
            <td class="metric-porcentage"><input type="Number" name="metrics[porcentage]" value="40" step="1"/></td>
            <td class="metric-grade"><input type="Number" name="metrics[grade]" value="" step="0.1"/></td>
          </tr>
          <tr class="final-grade">
            <td> Calificación Final </td>
            <td class="total-porcentage"></td>
            <td class="final-grade-grade"></td>
          </tr>
        </tbody>
      </table>
  <button class="btn btn-sm btn-success">Enviar</button>
  </form>
  <button class="btn btn-sm btn-danger" onclick="deleteLastMetric()">Borrar criterio anterior</button>
</div>
<script type="text/javascript" src="/courses.js"></script>
<% include ../partials/footer.ejs %>
