h4{
  text-align: center;
  font-weight: 600;
  padding: 20px 0 10px 0;

}
hr{
  margin:0 0 20px 0;
  border: 0;
 height: 1px;
 background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
 background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
 background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
 background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.container-course{
  /*margin-top: 30px;*/
  width: 80%;
  max-width: 900px;
}
.course-title input{
 background: inherit;
 border: 0;
}
.course-credit input{
  width: 20px;
}

.container-top{
  width: 80%;
  padding: 20px;
}


.container-top .form-group{
  width: 70%;
  margin: 0 auto;
}

.disable{
  display: none;
}
.alert-warning{
  margin:0 auto;
  font-size: 0.6em;
  text-align: center;
  width:70%;
}
.form-group input[type="button"]{
  margin-top: 15px;
}
